# 2.1 - Pandas Deepdive

![pandas_deep](images/pandas_deep.jpg)

### Importar un archivo

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('../data/Online Retail.xlsx')

df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

In [3]:
df['NullID']=[i if i%2 else None for i in range(len(df))]

df.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,NullID
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

In [4]:
# renombrar columnas

df.columns

Index(['InvoiceNo', 'InvoiceDate', 'StockCode', 'Description', 'Quantity',
       'UnitPrice', 'Revenue', 'CustomerID', 'Country', 'NullID'],
      dtype='object')

In [5]:
n_columnas=[c.lower() for c in df.columns]

n_columnas

['invoiceno',
 'invoicedate',
 'stockcode',
 'description',
 'quantity',
 'unitprice',
 'revenue',
 'customerid',
 'country',
 'nullid']

In [6]:
df.columns=n_columnas

df.head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

In [7]:
df=df.rename(columns={'invoiceno': 'no'})

df.head()

,no,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

In [8]:
list(zip(df.columns, n_columnas))

[('no', 'invoiceno'),
 ('invoicedate', 'invoicedate'),
 ('stockcode', 'stockcode'),
 ('description', 'description'),
 ('quantity', 'quantity'),
 ('unitprice', 'unitprice'),
 ('revenue', 'revenue'),
 ('customerid', 'customerid'),
 ('country', 'country'),
 ('nullid', 'nullid')]

In [9]:
df=df.rename(columns={k:v for k,v in zip(df.columns, n_columnas)})  # k=vieja columna, v=nueva columna

df.head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

### Descripción de los datos

In [10]:
df.shape

(396034, 10)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    396034 non-null  int64
 1   invoicedate  396034 non-null  datetime64[ns]
 2   stockcode    396034 non-null  object
 3   description  396034 non-null  object
 4   quantity     396034 non-null  int64
 5   unitprice    396034 non-null  float64
 6   revenue      396034 non-null  float64
 7   customerid   396034 non-null  int64
 8   country      396034 non-null  object
 9   nullid       198017 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 30.2+ MB

In [12]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    396034 non-null  int64
 1   invoicedate  396034 non-null  datetime64[ns]
 2   stockcode    396034 non-null  object
 3   description  396034 non-null  object
 4   quantity     396034 non-null  int64
 5   unitprice    396034 non-null  float64
 6   revenue      396034 non-null  float64
 7   customerid   396034 non-null  int64
 8   country      396034 non-null  object
 9   nullid       198017 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 93.7 MB

In [13]:
df.count()  # valores no nulos

invoiceno      396034
invoicedate    396034
stockcode      396034
description    396034
quantity       396034
unitprice      396034
revenue        396034
customerid     396034
country        396034
nullid         198017
dtype: int64

In [14]:
df['country'].value_counts()  # cuenta de valores unicos en la columna

United Kingdom          353983
Germany                   8658
France                    8034
EIRE                      7136
Spain                     2422
Netherlands               2322
Belgium                   1935
Switzerland               1810
Portugal                  1425
Australia                 1181
Norway                    1048
Channel Islands            744
Italy                      741
Finland                    647
Cyprus                     612
Sweden                     428
Austria                    384
Denmark                    367
Poland                     325
Japan                      321
Israel                     248
Singapore                  215
Iceland                    182
USA                        179
Canada                     150
Greece                     142
Malta                      109
United Arab Emirates        67
South Africa                57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              24
Bahrain                     17
Saudi Arabia                 9
Name: country, dtype: int64

In [15]:
df['country'].unique()  # valores unicos en la columna

array(['United Kingdom', 'Spain', 'Cyprus', 'EIRE', 'Portugal',
       'Netherlands', 'Australia', 'Singapore', 'Switzerland', 'Finland',
       'Channel Islands', 'France', 'Malta', 'Italy', 'Israel', 'Germany',
       'Austria', 'Norway', 'Denmark', 'Sweden', 'Belgium', 'Canada',
       'Poland', 'Japan', 'Iceland', 'Greece', 'Lebanon', 'South Africa',
       'Czech Republic', 'USA', 'Brazil', 'United Arab Emirates',
       'Lithuania', 'Saudi Arabia', 'Bahrain'], dtype=object)

In [16]:
df['country'].nunique()

35

In [17]:
len(df['country'].unique())

35

In [18]:
# descripcion estadistica

df.describe()

,invoiceno,quantity,unitprice,revenue,customerid,nullid
count,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000,198017.000000
mean,560620.294401,12.624838,2.867826,21.492062,15302.695435,198017.000000
std,13110.655964,42.816911,4.265226,93.863439,1709.744925,114325.456929
min,536365.000000,1.000000,0.040000,0.060000,12347.000000,1.000000
25%,549198.500000,2.000000,1.250000,4.680000,13975.000000,99009.000000
50%,561894.000000,6.000000,1.950000,11.800000,15160.000000,198017.000000
75%,572095.000000,12.000000,3.750000,19.800000,16805.000000,297025.000000
max,581587.000000,4800.000000,649.500000,38970.000000,18287.000000,396033.000000

In [19]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
invoiceno,396034.0,560620.294401,13110.655964,536365.00,549198.50,561894.00,572095.00,581587.0
quantity,396034.0,12.624838,42.816911,1.00,2.00,6.00,12.00,4800.0
unitprice,396034.0,2.867826,4.265226,0.04,1.25,1.95,3.75,649.5
revenue,396034.0,21.492062,93.863439,0.06,4.68,11.80,19.80,38970.0
customerid,396034.0,15302.695435,1709.744925,12347.00,13975.00,15160.00,16805.00,18287.0
nullid,198017.0,198017.000000,114325.456929,1.00,99009.00,198017.00,297025.00,396033.0

In [20]:
df.describe().T['50%']

invoiceno     561894.00
quantity           6.00
unitprice          1.95
revenue           11.80
customerid     15160.00
nullid        198017.00
Name: 50%, dtype: float64

In [21]:
df.median()

<ipython-input-21-6d467abf240d>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.median()

invoiceno     561894.00
quantity           6.00
unitprice          1.95
revenue           11.80
customerid     15160.00
nullid        198017.00
dtype: float64

### Selección dentro del dataframe

In [22]:
df[['quantity', 'unitprice']].head()  # seleccion por nombre de columna

   quantity  unitprice
0         6       2.55
1         6       2.55
2         6       2.55
3        64       2.55
4        32       2.55

In [23]:
df[df.quantity==6].head()  # seleccion segun condicion

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,5.0
8,536502,2010-12-01 12:36:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.7,16552,United Kingdom,NaN

In [24]:
df[~(df.quantity==6)].head()  # ~ es el NO logico, lo que no es 6

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.20,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,13408,United Kingdom,NaN
6,536401,2010-12-01 11:21:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,4,2.95,11.80,15862,United Kingdom,NaN
7,536406,2010-12-01 11:33:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,8,2.55,20.40,17850,United Kingdom,7.0
9,536520,2010-12-01 12:43:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3,2.95,8.85,14729,United Kingdom,9.0

In [25]:
df[(df.quantity==6) & (df.unitprice==2.55)].head()   # & es el y logico

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,5.0
15,536600,2010-12-02 08:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,15.0

In [26]:
df[(df.quantity==6) | (df.unitprice==2.55)].head()   # | es el o logico

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN

In [27]:
df[~(df.quantity==6) & (df.unitprice==2.55)].head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN
7,536406,2010-12-01 11:33:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,8,2.55,20.4,17850,United Kingdom,7.0
11,536575,2010-12-01 16:01:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,128,2.55,326.4,13777,United Kingdom,11.0
12,536576,2010-12-01 16:11:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,128,2.55,326.4,13777,United Kingdom,NaN

In [28]:
df[(df.quantity!=6) & (df.unitprice==2.55)].head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,NaN
7,536406,2010-12-01 11:33:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,8,2.55,20.4,17850,United Kingdom,7.0
11,536575,2010-12-01 16:01:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,128,2.55,326.4,13777,United Kingdom,11.0
12,536576,2010-12-01 16:11:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,128,2.55,326.4,13777,United Kingdom,NaN

In [29]:
# seleccion por indice

df.iloc[3]

invoiceno                                  536390
invoicedate                   2010-12-01 10:19:00
stockcode                                  85123A
description    CREAM HANGING HEART T-LIGHT HOLDER
quantity                                       64
unitprice                                    2.55
revenue                                     163.2
customerid                                  17511
country                            United Kingdom
nullid                                        3.0
Name: 3, dtype: object

In [30]:
df.iloc[:2]

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0

In [31]:
df.iloc[:2, 1:3]

          invoicedate stockcode
0 2010-12-01 08:26:00    85123A
1 2010-12-01 09:02:00    85123A

In [32]:
df.loc[:2]

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,NaN

In [33]:
df.loc[:2, 'description']

0    CREAM HANGING HEART T-LIGHT HOLDER
1    CREAM HANGING HEART T-LIGHT HOLDER
2    CREAM HANGING HEART T-LIGHT HOLDER
Name: description, dtype: object

In [34]:
df.loc[:2, ['description', 'country', 'nullid']]

                          description         country  nullid
0  CREAM HANGING HEART T-LIGHT HOLDER  United Kingdom     NaN
1  CREAM HANGING HEART T-LIGHT HOLDER  United Kingdom     1.0
2  CREAM HANGING HEART T-LIGHT HOLDER  United Kingdom     NaN

In [35]:
df.sample(4)

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
311408,557260,2011-06-19 10:39:00,84429A,MEDIUM PINK BUDDHA HEAD,6,2.95,17.7,17932,United Kingdom,NaN
387832,573183,2011-10-28 11:33:00,23505,PLAYING CARDS I LOVE LONDON,6,1.25,7.5,15028,United Kingdom,NaN
306500,549988,2011-04-13 16:43:00,84931B,BLUE SCOTTIE DOG W FLOWER PATTERN,2,2.55,5.1,14367,United Kingdom,NaN
38996,542084,2011-01-25 12:31:00,21175,GIN + TONIC DIET METAL SIGN,12,2.10,25.2,14680,United Kingdom,NaN

In [36]:
df.sample(4, random_state=10)  # random state es la semilla de los nos aleatorios

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
6650,548308,2011-03-30 12:00:00,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,1,3.75,3.75,17220,United Kingdom,NaN
222275,577519,2011-11-20 13:20:00,20986,BLUE CALCULATOR RULER,12,1.25,15.00,15044,United Kingdom,222275.0
59107,546015,2011-03-08 16:48:00,84970S,HANGING HEART ZINC T-LIGHT HOLDER,12,0.85,10.20,14336,United Kingdom,59107.0
86908,575624,2011-11-10 13:18:00,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,18,0.79,14.22,18217,United Kingdom,NaN

In [37]:
df.sample(frac=0.1).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
182861,578270,2011-11-23 13:39:00,21917,SET 12 KIDS WHITE CHALK STICKS,1,0.83,0.83,14096,United Kingdom,182861.0
204625,568198,2011-09-25 14:52:00,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,0.29,13.92,16771,United Kingdom,204625.0
321464,565401,2011-09-02 17:38:00,85161,ACRYLIC GEOMETRIC LAMP,1,18.95,18.95,16686,United Kingdom,NaN
321782,561125,2011-07-25 12:58:00,23077,DOUGHNUT LIP GLOSS,20,1.25,25.00,17364,United Kingdom,NaN
248909,568650,2011-09-28 11:56:00,21882,SKULLS TAPE,12,0.65,7.80,13505,Switzerland,248909.0

In [38]:
df._get_numeric_data().head()

   invoiceno  quantity  unitprice  revenue  customerid  nullid
0     536365         6       2.55     15.3       17850     NaN
1     536373         6       2.55     15.3       17850     1.0
2     536375         6       2.55     15.3       17850     NaN
3     536390        64       2.55    163.2       17511     3.0
4     536394        32       2.55     81.6       13408     NaN

In [39]:
df.select_dtypes(include=['float64', 'object']).head()

,stockcode,description,unitprice,revenue,country,nullid
0,85123A,CREAM HANGING HEART T-LIGHT HOLDER,2.55,15.3,United Kingdom,NaN
1,85123A,CREAM HANGING HEART T-LIGHT HOLDER,2.55,15.3,United Kingdom,1.0
2,85123A,CREAM HANGING HEART T-LIGHT HOLDER,2.55,15.3,United Kingdom,NaN
3,85123A,CREAM HANGING HEART T-LIGHT HOLDER,2.55,163.2,United Kingdom,3.0
4,85123A,CREAM HANGING HEART T-LIGHT HOLDER,2.55,81.6,United Kingdom,NaN

### Cambio del tipo de datos

In [40]:
df.quantity.astype(dtype='float32')

0          6.0
1          6.0
2          6.0
3         64.0
4         32.0
          ...
396029    12.0
396030    12.0
396031    12.0
396032    12.0
396033     1.0
Name: quantity, Length: 396034, dtype: float32

In [41]:
df.quantity=df.quantity.astype(dtype='float32')

df.head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,NaN

### Manejo de valores nulos

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    396034 non-null  int64
 1   invoicedate  396034 non-null  datetime64[ns]
 2   stockcode    396034 non-null  object
 3   description  396034 non-null  object
 4   quantity     396034 non-null  float32
 5   unitprice    396034 non-null  float64
 6   revenue      396034 non-null  float64
 7   customerid   396034 non-null  int64
 8   country      396034 non-null  object
 9   nullid       198017 non-null  float64
dtypes: datetime64[ns](1), float32(1), float64(3), int64(2), object(3)
memory usage: 28.7+ MB

In [43]:
df.isna().head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True

In [44]:
df.notna().head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,True,True,True,True,True,True,True,True,True,False
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,False
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,False

In [45]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

nullid    198017
dtype: int64

**¿Qué hacemos?**

In [46]:
# rellenar con 0

df.fillna(0).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,0.0
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,0.0
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,0.0

In [47]:
# rellenar con media

df.fillna(df.nullid.mean()).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,198017.0
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,198017.0
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,198017.0

In [48]:
# rellenar con total

df.fillna(df.nullid.sum()).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,3.921073e+10
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.000000e+00
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,3.921073e+10
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.000000e+00
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,3.921073e+10

In [49]:
# rellenar con minmimo

df.fillna(df.nullid.min()).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,1.0

In [50]:
# rellenar con mediana

df.fillna(df.nullid.median()).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,198017.0
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,198017.0
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,198017.0

In [51]:
# borrar columna

df.drop('nullid', axis=1).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom

In [52]:
df.drop(columns=['revenue', 'customerid', 'country']).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,NaN

In [53]:
df[df['nullid'].notna()]

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.30,17850,United Kingdom,1.0
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.20,17511,United Kingdom,3.0
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.30,17850,United Kingdom,5.0
7,536406,2010-12-01 11:33:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,8.0,2.55,20.40,17850,United Kingdom,7.0
9,536520,2010-12-01 12:43:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3.0,2.95,8.85,14729,United Kingdom,9.0
...,...,...,...,...,...,...,...,...,...,...
396025,581173,2011-12-07 15:07:00,90214F,"LETTER ""F"" BLING KEY RING",1.0,0.29,0.29,17870,United Kingdom,396025.0
396027,580691,2011-12-05 15:48:00,90214T,"LETTER ""T"" BLING KEY RING",12.0,0.29,3.48,13790,United Kingdom,396027.0
396029,580691,2011-12-05 15:48:00,90214W,"LETTER ""W"" BLING KEY RING",12.0,0.29,3.48,13790,United Kingdom,396029.0
396031,580865,2011-12-06 11:58:00,90089,PINK CRYSTAL SKULL PHONE CHARM,12.0,0.19,2.28,17914,United Kingdom,396031.0
396033,581425,2011-12-08 15:31:00,90089,PINK CRYSTAL SKULL PHONE CHARM,1.0,0.19,0.19,14796,United Kingdom,396033.0

In [54]:
df.dropna().head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.30,17850,United Kingdom,1.0
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.20,17511,United Kingdom,3.0
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.30,17850,United Kingdom,5.0
7,536406,2010-12-01 11:33:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,8.0,2.55,20.40,17850,United Kingdom,7.0
9,536520,2010-12-01 12:43:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3.0,2.95,8.85,14729,United Kingdom,9.0

In [55]:
df.drop_duplicates().head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,NaN
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,1.0
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.3,17850,United Kingdom,NaN
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.2,17511,United Kingdom,3.0
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32.0,2.55,81.6,13408,United Kingdom,NaN

In [56]:
df.drop_duplicates(subset=['country']).head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,nullid
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.55,15.30,17850,United Kingdom,NaN
103,538095,2010-12-09 14:55:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1.0,2.95,2.95,17097,Spain,103.0
147,538826,2010-12-14 12:58:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64.0,2.55,163.20,12370,Cyprus,147.0
179,539320,2010-12-16 19:16:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,24.0,2.95,70.80,14911,EIRE,179.0
183,539353,2010-12-17 11:30:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6.0,2.95,17.70,12782,Portugal,183.0

### Agrupación

### Aplicación de funciones

### Json Normalize, Explode

### Unión de dataframes

### Eval y query

### lookup

### get

### index y reindex

### Multi index

### Exportar datos

### Métodos habituales de pandas

```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```