# Ejercicios Pandas Deep

![imagen](img/ejercicios.png)

## Ejercicio 1
Importa el módulo `pandas` y el módulo `numpy`.

## Ejercicio 2 

Importa el dataset desde ésta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

## Ejercicio 3

¿Qué continente bebe más cerveza de media?

## Ejercicio 4 

Describe el consumo de vino por continente

## Ejercicio 5

¿Cuál es el consumo medio de alcohol por continente?

## Ejercicio 6

¿Y cuál es la mediana de consumo?

## Ejercicio 7

Por continente, calcula media, máximo y mínimo de consumo de bebidas espirituosas

## Ejercicio 8

Crea una función lambda para poner en minúscula la columna `continent`

## Ejercicio 9

Crea una nueva columna llamada `more_wine_than_beer` con booleanos. True si wine_servings es mayor que beer_servings

## Ejercicio 10

Multiplica todo el dataframe por 10

## Ejercicio 11

Ahora carga los datasets [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) y [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv)

## Ejercicio 12

Elimina las columnas nulas de `cars1`

## Ejercicio 13

¿Cuales son las dimensiones de los dos dataframes?

## Ejercicio 14

Une los dos dataframes en uno solo llamado `cars`